:root {
    --primary-orange: rgba(166,75,42,100);
    --light-orange: rgba(210,102,63,100);
    --dark-orange: rgba(125,50,23,100);
    --yellow: rgba(236,211,100,100);
    --white: rgba(245,231,213,100);
    --gray: rgba(107,97,97,100);
    --text-white: rgba(242,228,228,100);
    --text-dark: rgba(53,45,45,100);
    --button-white: rgba(223,211,195,100);
    --black: rgba(0,0,0,100);
    --real-white: rgba(255,255,255,100);
}

@import url('https://fonts.googleapis.com/css2?family=Literata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Literata&display=swap');

html {
    scroll-behavior: smooth;
}



/* CONSTANTS */



.container {
    width: 1440px;
    margin: 0 auto;
    background-color: var(--white);
}

h1,h2,h3,h4 {
    font-family: 'Literata', serif;
    color: var(--text-dark);
    font-weight: 600;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px; 
}

h3 {
    font-size: 70px;
}

h4 {
    font-size: 20px;
}

p {
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
    color: var(--text-dark);
    font-weight: 300;
}

button {
    padding: 15px 20px;
    margin: 10px;
    border-radius: 25px;
    border: none;
    background-color: var(--button-white);
    color: var(--text-dark);
    font-family: 'Literata', serif;
    font-size: 20px;
    text-transform: uppercase;
    transition-duration: 0.3s;
}

button:hover {
    background-color: var(--white);
    filter: drop-shadow(0px 0px 8px var(--yellow));
}

.section-cards h1 {
    color: var(--text-white);
}

.section-cards h4 {
    color: var(--text-white);
}

.section-cards p {
    color: var(--text-white);
}

.controls {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.controls a {
    font-size: 2em;
}

img {
    border: 3px solid;
    border-color: var(--light-orange);
    filter: drop-shadow(4px 4px 8px var(--black));
}

.home-button {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* NAVIGATION */



.navigation {
    background-color: var(--primary-orange);
    font-family: 'Literata', serif;
    width: 1440px;
    height: 82px;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    padding: 30px;
    font-weight: bold;
    color: var(--text-white)
}

nav li {
    list-style-type: none;
    display: inline-block;
    padding: 30px 0;
}

nav ul {
    color: var(--text-white);
    text-transform: uppercase;
}

nav a:hover {
    color: var(--real-white);
  }

nav a:active {
    color: var(--white);
}


/* HERO */



.hero {
    background-image: url(images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.hero-photo img {
    border: 0px;
    padding: 70px;
}

.hero-content h3 {
    color: var(--text-white);
    text-shadow: 4px 4px 8px var(--black);
}

.hero-content h2 {
    color: var(--text-white);
    text-shadow: 4px 4px 8px var(--black);
}

.hero-content {
    background-color: rgba(107,97,97,0.3);
    text-align: center;
}

.hero-content h3, .hero-content h2 {
    margin: 0;
}

.hero-content {
    width: 1440px;
    position: absolute;
}



/* BIBLIOGRAPHY */



.bibliography {
    background-color: var(--white);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-inbetween;
    align-items: center;
}

.biblio-content {
    width: 650px;
    padding: 55px 127px 244px 171px;
}

.biblio-content h1 {
    border-bottom: 5px solid var(--yellow);
}

.biblio-photo {
    filter: drop-shadow(4px 4px 8px var(--text-dark));
    width: 318px;
}


/* WORKS */



.section-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-orange);
    border: 2.5px var(--light-orange);
}

.cards {
    width: 435px;  
    margin: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 106px;
    padding-bottom: 106px;
    color: var(--text-white);
}


/* TIMELINE */



.timeline {
    background-color: var(--white);
}

.timeline-content {
    padding-right: 2em;
}

.timeline-content h1 {
    border-bottom: 5px solid var(--yellow);
    margin: 0px;
}

.timeline-cards {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    gap: 2em;
    margin: 85px;
}

.timeline-photo {
    display: flex;
    align-items: center;
}

.timeline-content p {
    margin-top: 20px;
}


/* INFLUENCE */


.influence {
    background-color: var(--primary-orange);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-inbetween;
    align-items: center;
    border: 2.5px var(--light-orange);
}

.influence-content {
    width: 650px;
    padding: 55px 127px 244px 171px;
    color: var(--text-white)
}

.influence-content h1 {
    color: var(--text-white);
    border-bottom: 5px solid var(--yellow);
}

.influence-content p {
    color: var(--text-white);
}


/* INFLUENCE ON MODERN WORKS */



.modern-works {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--white);
}

.modern-works-content {
    display: flex;
    justify-content: center;
    gap: 2em; 
    padding: 40px;
}

.modern-works-info {
    align-items: top;
}

.modern-works-info h2{
    width: 652px;
    border-bottom: 5px solid var(--yellow);
    margin: 0px;
}

.modern-works-info p{
    width: 652px;
}


/* RESOURCES */

.more-info {
    background-color: var(--primary-orange);
    height: 50px;
    padding: 10px;
}

.more-info h1 {
    color: var(--text-white);
    text-align: center;
}



/* FOOTER */



.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-orange);
}

.footer img {
    border: none;
    filter: none;
    width: 50px;
    height: 50px;
    object-fit: scale-down;
    padding: 0px 25px 15px 25px;
}

.footer h4 {
    color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: center;
}